---
name: kappa-simple
environments:
  dev:
    profile: <your profile here>
    region: <your region here>
    environment_variables:
      key_one: "potatoes"
      second_key: "Strawberries"
    policy:
      resources:
        - arn: arn:aws:logs:*:*:*
          actions:
          - "*"
  prod:
    profile: <your profile here>
    region: <your region here>
    environment_variables:
    policy:
      resources:
        - arn: arn:aws:logs:*:*:*
          actions:
          - "*"
lambda:    
  description: A very simple Kappa example
  handler: simple.handler
  runtime: python2.7
  memory_size: 128
  timeout: 3
  