---
name: kappa-simple
environments:
  dev:
    profile: <your profile here>
    region: <your region here>
    # Noo need to specify a policy since we are using an already existing role
    role:
      name: some-role-name

lambda:
  description: A very simple Kappa example
  handler: simple.handler
  runtime: python2.7
  memory_size: 128
  timeout: 3
